/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 19. 11. 2025 19:08:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReservationItems]    Script Date: 19. 11. 2025 19:08:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReservationItems](
	[Id] [uniqueidentifier] NOT NULL,
	[ItemName] [nvarchar](max) NOT NULL,
	[ItemPrice] [decimal](18, 2) NOT NULL,
	[ItemDescription] [nvarchar](max) NOT NULL,
	[DurationMinutes] [int] NOT NULL,
 CONSTRAINT [PK_ReservationItems] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reservations]    Script Date: 19. 11. 2025 19:08:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reservations](
	[Id] [uniqueidentifier] NOT NULL,
	[CustomerName] [nvarchar](max) NOT NULL,
	[CustomerEmail] [nvarchar](max) NOT NULL,
	[CustomerPhone] [nvarchar](max) NOT NULL,
	[Note] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[ReservationAt] [datetime2](7) NOT NULL,
	[ReservationItemId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Reservations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SystemConsts]    Script Date: 19. 11. 2025 19:08:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemConsts](
	[Id] [uniqueidentifier] NOT NULL,
	[OpenTime] [time](7) NOT NULL,
	[CloseTime] [time](7) NOT NULL,
	[IntervalTime] [time](7) NOT NULL,
	[DelayTime] [time](7) NOT NULL,
	[ClosedOnDays] [nvarchar](max) NULL,
 CONSTRAINT [PK_SystemConsts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20251107094929_InitialCreate', N'8.0.21')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20251107103706_MakeReservationItemFieldsRequired', N'8.0.21')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20251107104146_MakeReservationFieldsRequired', N'8.0.21')
GO
INSERT [dbo].[ReservationItems] ([Id], [ItemName], [ItemPrice], [ItemDescription], [DurationMinutes]) VALUES (N'23ef29b1-fa86-4a8a-063a-08de1f0b28c2', N'Men''s haircut + beard', CAST(25.00 AS Decimal(18, 2)), N'Men''s haircut and beard trim according to client''s requirements. Hair wash upon completion. Free coffee or drink.', 45)
INSERT [dbo].[ReservationItems] ([Id], [ItemName], [ItemPrice], [ItemDescription], [DurationMinutes]) VALUES (N'2f91e4de-70b9-4c7b-063b-08de1f0b28c2', N' Men''s haircut', CAST(18.00 AS Decimal(18, 2)), N'
Men''s haircut according to client''s requirements. Hair wash after completion. Free coffee or drink.', 30)
INSERT [dbo].[ReservationItems] ([Id], [ItemName], [ItemPrice], [ItemDescription], [DurationMinutes]) VALUES (N'24a3eb08-151d-408d-063c-08de1f0b28c2', N'Beard', CAST(10.00 AS Decimal(18, 2)), N'Beard trimming according to client''s requirements. Free coffee or drink.', 15)
GO
INSERT [dbo].[SystemConsts] ([Id], [OpenTime], [CloseTime], [IntervalTime], [DelayTime], [ClosedOnDays]) VALUES (N'e86ad697-c8b8-45c4-9a50-08de21360b9e', CAST(N'09:00:00' AS Time), CAST(N'18:00:00' AS Time), CAST(N'00:15:00' AS Time), CAST(N'01:00:00' AS Time), N'13.11.,14.11.2025')
GO
/****** Object:  Index [IX_Reservations_ReservationItemId]    Script Date: 19. 11. 2025 19:08:32 ******/
CREATE NONCLUSTERED INDEX [IX_Reservations_ReservationItemId] ON [dbo].[Reservations]
(
	[ReservationItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ReservationItems] ADD  DEFAULT (N'') FOR [ItemName]
GO
ALTER TABLE [dbo].[ReservationItems] ADD  DEFAULT (N'') FOR [ItemDescription]
GO
ALTER TABLE [dbo].[Reservations] ADD  DEFAULT (N'') FOR [CustomerName]
GO
ALTER TABLE [dbo].[Reservations] ADD  DEFAULT (N'') FOR [CustomerEmail]
GO
ALTER TABLE [dbo].[Reservations] ADD  DEFAULT (N'') FOR [CustomerPhone]
GO
ALTER TABLE [dbo].[Reservations]  WITH CHECK ADD  CONSTRAINT [FK_Reservations_ReservationItems_ReservationItemId] FOREIGN KEY([ReservationItemId])
REFERENCES [dbo].[ReservationItems] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Reservations] CHECK CONSTRAINT [FK_Reservations_ReservationItems_ReservationItemId]
GO

