@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center home-page">
    <h1>Smart Booking Made Simple</h1>
    <p>Our booking system shows only truly available time slots based on opening hours, closed days, existing reservations, and smart delay rules. Manage services, items, and reservations effortlessly—all in one place.</p>
</div>
